<a href="https://colab.research.google.com/github/Na-youngmin/Base_python/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리에서 데이터 프레임 만들기

In [ ]:
# ID, Age, Gender, Item1, Item2
import pandas as pd

rawdata = {'ID':[101, 102, 103],
           'Age':[23, 32, 43],
           'Gender':['M', 'F', 'F'],
           'Item1':[1, 4, 4],
           'Item2':[2, 5, 1]}

In [ ]:
df = pd.DataFrame(rawdata)
df

    ID  Age Gender  Item1  Item2
0  101   23      M      1      2
1  102   32      F      4      5
2  103   43      F      4      1

In [ ]:
print(df)

    ID  Age Gender  Item1  Item2
0  101   23      M      1      2
1  102   32      F      4      5
2  103   43      F      4      1

# df.shape
# df.columns
# df.dtypes

In [ ]:
# 데이터 프레임의 크기 확인
df.shape

(3, 5)

In [ ]:
# 데이터 프레임의 변수(columns) 확인
df.columns

Index(['ID', 'Age', 'Gender', 'Item1', 'Item2'], dtype='object')

In [ ]:
# 데이터 프레임 내 각 변수의 데이터 타입 확인
df.dtypes

ID         int64
Age        int64
Gender    object
Item1      int64
Item2      int64
dtype: object

# Colab에 파일 업로드하고 불러오기
**[주의]** Colab에 업로드한 파일은 세션이 종료되면 사라짐

In [ ]:
df_csv = pd.read_csv('/content/Company.csv')
df_csv.head() # 데이터 프레임의 첫 다섯 줄만 화면에 표시
# df_csv.head(3) : 첫 세 줄만 화면에 표시
# df_csv.tail() : 마지막 다섯 줄만 화면에 표시

    ID  AgeGroup Gender  Item1  Item2  Item3
0  101         1      M      1    1.0    1.0
1  102         2      M      3    3.0    3.0
2  103         4      F      3    3.0    1.0
3  104         4      M      3    3.0    2.0
4  105         4      M      1    1.0    1.0

In [ ]:
df_csv.shape

(10, 6)

In [ ]:
df_csv.columns

Index(['ID', 'AgeGroup', 'Gender', 'Item1', 'Item2', 'Item3'], dtype='object')

In [ ]:
df_csv.dtypes

ID            int64
AgeGroup      int64
Gender       object
Item1         int64
Item2       float64
Item3       float64
dtype: object

In [ ]:
df_excel = pd.read_excel('/content/Company.xlsx')
df_excel.tail()

    ID  AgeGroup Gender  Item1  Item2  Item3
5  106         5    NaN      2    NaN    NaN
6  107         3      M      1    1.0    1.0
7  108         5      F      1    1.0    1.0
8  109         5      M      1    1.0    3.0
9  110         2      F      2    3.0    2.0

In [ ]:
# 데이터 프레임을 파일(.csv)로 저장할 때 사용
df_csv.to_csv('/content/new_Company.csv')