<a href="https://colab.research.google.com/github/Na-youngmin/Base_python/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Cholest = pd.read_csv('/content/Cholest.csv')

In [ ]:
Cholest.head(3)

  Gender  Age  Super
0   Male   23     40
1   Male   64     88
2   Male   66    110

In [ ]:
Cholest.dtypes

Gender    object
Age        int64
Super      int64
dtype: object

In [ ]:
# Gender = 범주 데이터처럼
# Age, Super = 구간 데이터처럼

In [ ]:
Cholest.describe(include="all")
# include="all"을 적어주면 
# 구간 데이터, 범주 데이터의 기술 통계량을
# 모두 보여준다.

       Gender        Age       Super
count      60  60.000000   60.000000
unique      2        NaN         NaN
top      Male        NaN         NaN
freq       31        NaN         NaN
mean      NaN  43.000000   86.416667
std       NaN  14.793494   25.635180
min       NaN  19.000000   35.000000
25%       NaN  29.750000   68.500000
50%       NaN  42.500000   84.000000
75%       NaN  56.250000  106.250000
max       NaN  74.000000  146.000000

In [ ]:
# 합계, 평균, 최솟값, 최댓값, 중앙값
# df.sum(), df.mean(), df.min(), df.max(), df.median()

In [ ]:
Cholest["Age"].sum()

2580

In [ ]:
Cholest["Age"].mean()

43.0

In [ ]:
Cholest["Age"].min()

19

In [ ]:
Cholest["Age"].max()

74

In [ ]:
Cholest["Age"].median()

42.5

In [ ]:
import pandas as pd
# 누군가 만들어 놓은 pandas라는 패키지를
# 불러서 사용하는데, 이름이 너무 기니까
# pd로 줄여서 사용할게

In [ ]:
from scipy import stats
# 누군가 만들어 놓은 scipy라는 패키지에서
# stats라는 애만 꺼내서 쓸게

In [ ]:
stats.trim_mean?
# Return mean of array
# after trimming distribution
# from both tails.

In [ ]:
stats.trim_mean(Cholest["Super"], 0.1)

85.4375

# Gender가 Female이면 CholestFemale에 저장
# Gender가 Male이면 CholestMale에 저장

In [ ]:
Cholest.head(3)

  Gender  Age  Super
0   Male   23     40
1   Male   64     88
2   Male   66    110

In [ ]:
# (범주 데이터에 사용)
# 각 변수값이 몇 개씩 등장하는지 확인
# df.value_counts()
Cholest["Gender"].value_counts()

Male      31
Female    29
Name: Gender, dtype: int64

In [ ]:
# [힌트] df.loc[조건, :]을 사용해야겠구나!
# 조건 1 Cholest["Gender"] == "Male"
# 조건 2 Cholest["Gender"] == "Female"
# 같다라는 의미의 등호는 항상 2개 ==
CholestMale = Cholest.loc[Cholest["Gender"] == "Male", :]

In [ ]:
CholestMale["Gender"].value_counts()

Male    31
Name: Gender, dtype: int64

In [ ]:
CholestFemale = Cholest.loc[Cholest["Gender"] == "Female", :]

In [ ]:
CholestFemale["Gender"].value_counts()

Female    29
Name: Gender, dtype: int64